@font-face {
	font-family: 'Yekan';
	src: url( '../fonts/Yekan.eot' );
	src: url( '../fonts/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../fonts/Yekan.woff2' ) format( 'woff2' ),
		url( '../fonts/Yekan.woff' ) format( 'woff' ),
		url( '../fonts/Yekan.ttf' ) format( 'truetype' ),
		url( '../fonts/Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: normal;	font-style: normal;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  
}

body {
    font-family: Yekan, sans-serif;
    font-size:1rem;
    color:black;
}

li {
    list-style: none;
    cursor: pointer;
    padding:15px 20px;
    transition: background-color 1s;
}

a { 
    text-decoration:none;
}



 .active, li:hover,li:focus{
    background:#5F6768;
}

.header-menu-item {
    padding: 0 15px;
    font-weight: 700;
     color:white;
}

.head {
    background:#28cf65;
    position:fixed;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:start;
    z-index:2;
    top:0;

}

 .nav { 
    display:flex;
    justify-content:start;
    
}


.header-menu-burger {
    display: none;
    background:none;
    border: none;
    line-height: 80px;
    color:#ffffff;
          
}
    
.app {
    width:100%;
}

.container {
    padding-top:70px;
}

.leftRightAngle {
    width: 0px;
    height: 0px;
    border: 40px solid;
    border-bottom-color: transparent;
    border-top-color:#28cf65;
    border-left-color:transparent;
    border-right-color: #28cf65;
    position:absolute;
    top:0;
    right:0;
    
    }



@media (max-width:991.98px) {
    .header-menu-item{
        padding: 0 5px;    
    }
    
   }


@media (max-width:767.98px) {
    .header-menu-burger {
        display:inline-block;
        padding:10px;
               
    }

    .nav {
        display: none;
        flex-direction: column;
        background-color: #28cf65;
      }
      
      .nav.active {
        display: flex;
        width: 100%;
      }


      .nav a {
        color:white;
      }
      

    .header-menu-item {
        display: block;
        border-bottom: 1px solid #cecece;
        text-align:center;
        color:white ;
         
        
    }

}
.header-menu-item :hover{
    font-weight:bolder;
}

@media (max-width:1199.98px) {
    .container {
        width: 992px;
    }
    

    
}

@media (max-width:991.98px) {
    .container {
        width: 768px;
    }
    .myform{
        grid-temlate-columns:;
    }
    
}

@media (max-width:767.98px) {
.container {
        width: 576px;
    }

    .leftRightAngle {
        display:none;
    }
    .item1{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    
}

@media (max-width:575.98px) {
    .container {
        width: calc(100% - 30px);
        padding: 0 15px;
    
    }
    
} 

.img1 {
    width:180px;
    height:180px;
    margin-top:40px;
    margin-right:40px;
    border-radius:50%;
    margin-left:20px;
    border:7px solid #FFE4C4; 
    
}

#resume {
    display:flex; 
    justify-content:center;
    flex-wrap:wrap;
    align-items:center; 
    line-height:30px;
    text-align:center;
    text-wrap:wrap; 
    padding-top:40px;
    padding-bottom:40px;
        
}


#resume > div {
    max-width:600px;
}

#school {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#f1f1f1;
    padding:25px;
    padding-top:40px;
    padding-bottom:40px;
    
}


.titr {
    border:1px  solid black;
    width:200px;
    padding:15px 20px;
    font-weight:light !important;
    text-align:center;
    text-wrap:no-wrap;
    margin:15px;
}


.cadr {
    border:2px solid #28cf65;
    margin:10px 0;
    position:relative;
    width:500px;
    text-align:center;
    padding:15px;
    line-height:25px;
  

}

 #skill {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:40px;
    padding-bottom:40px;
  
    
} 
progress {
    /* RESETS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 20px;
    color: #28cf65;
    border:1px  solid  #28cf65;
    background-color: #ffffff;
    transition:color 3s;
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
    border:1px  solid  #28cf65;

}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-value {
    background-color:#28cf65;
    
 }

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
    background-color:#28cf65;
 
}
 

.skills {
    display: flex; 
    justify-content:space-between; 
    flex-wrap:wrap;
    width:65%; 
      
}


#lang{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:40px;
    padding-bottom:40px;

}

.langs {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width:70%;
}


#projects{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:40px;
    padding-bottom:40px;

}
#contacts{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:40px;
    padding-bottom:40px;
}



.my-form {
    display:grid;
    gap:10px;
    width:600px;
    height:350px;
    padding:10px 30px 10px 10px;
    grid-template-columns: repeat(2, 1fr);
    
    }
    
    .item2,.item3{
        grid-column-start: 1;
        grid-column-end: 3;
    }


input{
    padding:8px 8px 0 0;
    font-size:1rem;
    border-color:#E6E1DF;
}

textarea{
    padding:8px 8px 0 0;
    font-size:1rem;
    font-family:Yekan;
    border-color:#E6E1DF;
    resize:none;
}
input:hover {
    border-color:#28cf65 !important;

}
textarea:hover {
    border-color:#28cf65 !important;
}
.btn {
    background-color: #28cf65;
    color:#ffffff;
    justify-self:center;
    transition:filter 1s;
    width:130px;
    height:40px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn:hover{
    filter: grayscale(50%);
}