* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    text-decoration:none
}
li {
    list-style: none;
    cursor: pointer;
padding:15px 20px }

li:hover,.active {
    background:#5F6768;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    /* direction:'rtl'; */
    color:black !important;

}



.header-menu-item {
    display:inline
}

.header-menu-item-link {
    padding: 0 15px;
    line-height: 80px;
    font-weight: 700;
    color: #333!important;
}

.head {
    background:#00EFFF;
    position:fixed;
    width:100%;
    display:flex;
    justify-content:end
}

.nav { 
    display:flex;
    justify-content:end;
    
    
}
.show {
    display: inline-block !important; 
}

.header-menu-burger {
    display: none;
    /* background-color: white; */
    border: none;
    line-height: 80px;
    background:#00EFFF;
}

.leftRightAngle {
    width: 0px;
    height: 0px;
    border: 40px solid;
    border-bottom-color: green;
    border-top-color: transparent;
    border-left-color:green;
    border-right-color: transparent;
    
    top:0;
    right:0;
    }


    

.app {
    width:100%;
}

@media (max-width:991.98px) {
   
    .header-menu-item{
        padding: 0 5px;
        
    }
   

}


@media (max-width:767.98px) {
    .header-menu-burger {
        display: inline-block;
        padding:20px;    
    }
    .nav {
        display: none;
        width: 100%;
    }

    .header-menu-item {
        display: block;
        border-bottom: 1px solid #cecece;
        text-align:center;

    }
   
}

@media (max-width:1199.98px) {
    .container {
        width: 992px;
    }
}

@media (max-width:991.98px) {
    .container {
        width: 768px;
    }
}

@media (max-width:767.98px) {
.container {
        width: 576px;
    }
}
@media (max-width:575.98px) {
    .container {
        width: calc(100% - 30px);
        padding: 0 15px;
    
    }
}


.img1 {
    width:120px;
    height:120px;
    margin-top:40px;
    margin-right:40px;
    border-radius:50%;
    margin-left:20px;
    
}

#resume {
    display:flex;
    padding:80px;
    justify-content:center;
    flex-wrap:wrap-reverse; 
    align-items:center; 
    line-height:30px;
    text-align:center;
    text-wrap:wrap;
    max-width
    
}

.img1{
    border:5px solid  beige; 
}

#resume > div {
    max-width:600px;
}

#school {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#f1f1f1;
    padding:25px
}


.titr {
    border:1px  solid black;
    width:150px;
    padding:15px 20px;
    font-weight:light !important;
    text-align:center;
    text-wrap:no-wrap;
    margin:15px;
}
.cadr {
    border:2px solid green;
    margin:10px 0;
    width:500px;
    text-align:center;
    padding:15px;
    line-height:25px;
    position:absolute
    

}

 #skills {
    display:flex;
    flex-direction:column;
    align-items:center;
  
    
} 

.skill {
    display: flex;
    
     justify-content:space-evenly; 
    flex-wrap:wrap;
    width:70%;

    
}
.skill >div {
    width:400px;
}


