@font-face {
	font-family: 'Yekan';
	src: url( '../fonts/Yekan.eot' );
	src: url( '../fonts/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../fonts/Yekan.woff2' ) format( 'woff2' ),
		url( '../fonts/Yekan.woff' ) format( 'woff' ),
		url( '../fonts/Yekan.ttf' ) format( 'truetype' ),
		url( '../fonts/Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Yekan, sans-serif;
    font-size:1rem;
    color:black !important;
}

li {
    list-style: none;
    cursor: pointer;
    padding:15px 20px ;
}

a { 
    text-decoration:none
}

 .active, li:hover{
    background:#5F6768;
}

.header-menu-item-link {
    padding: 0 15px;
    line-height: 80px;
    font-weight: 700;
  
}

.head {
    background:#A2F3C0;
    position:fixed;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:start;
    

}

 .nav { 
    display:flex;
    justify-content:start;
    
    
}
.show { 
    display: inline-block !important; 
}

.header-menu-burger {
    display: none;
    background:#A2F3C0;
    border: none;
    line-height: 80px;
    
}
    
.app {
    width:100%;
}

.leftRightAngle {
    width: 0px;
    height: 0px;
    border: 40px solid;
    border-bottom-color: transparent;
    border-top-color:green;
    border-left-color:transparent;
    border-right-color: green;
    position:absolute;
    top:0;
    right:0;
    display:none;
    }



@media (max-width:991.98px) {
    .header-menu-item{
        padding: 0 5px;    
    }

    
   }


@media (max-width:767.98px) {
    .header-menu-burger {
        display: inline-block;
        padding:10px;
       
          
    }

    .nav {
        display: none;
        width: 100%;
        
        
        
    }

    .header-menu-item {
        display: block;
        border-bottom: 1px solid #cecece;
        text-align:center;
         
        
    }

}


@media (max-width:1199.98px) {
    .container {
        width: 992px;
    }

    
}

@media (max-width:991.98px) {
    .container {
        width: 768px;
    }
    
}

@media (max-width:767.98px) {
.container {
        width: 576px;
    }
}

@media (max-width:575.98px) {
    .container {
        width: calc(100% - 30px);
        padding: 0 15px;
    
    }
    .leftRightAngle {
        display:block;
    }
} 




.img1 {
    width:180px;
    height:180px;
    margin-top:40px;
    margin-right:40px;
    border-radius:50%;
    margin-left:20px;
    border:5px solid  beige; 
    
}

#resume {
    display:flex; 
    justify-content:center;
    flex-wrap:wrap;
    align-items:center; 
    line-height:30px;
    text-align:center;
    text-wrap:wrap;  
        
}


#resume > div {
    max-width:600px;
}

#school {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#f1f1f1;
    padding:25px
}


.titr {
    border:1px  solid black;
    width:200px;
    padding:15px 20px;
    font-weight:light !important;
    text-align:center;
    text-wrap:no-wrap;
    margin:15px;
}


.cadr {
    border:2px solid green;
    margin:10px 0;
    position:relative;
    width:500px;
    text-align:center;
    padding:15px;
    line-height:25px;
  

}

 #skills {
    display:flex;
    flex-direction:column;
    align-items:center;
  
    
} 

.skill {
    display: flex;
    
     justify-content:space-evenly; 
    flex-wrap:wrap;
    width:70%;

    
}
.skill >div {
    width:400px;
}


.contacts {
    width:750px;
    display:grid;
    grid-template-columns: 80px 200px auto 300px 100px;
    justify-content:center;

}
